<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InmobITT</title>
  <link preload="main.css" href="http://api:3001/CSS/main.css" as="style">
  <link href="http://api:3001/CSS/main.css" rel="stylesheet">
  <link preload="styleAdmin.css" href="http://api:3001/css/styleAdmin.css" as="style">
  <link preload="styleAdmin.css" href="http://api:3001/css/normalice.css">
  <link href="http://api:3001/css/styleAdmin.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <div class="body h-auto">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col py-3">
          <div class="container h-auto w-100" style=" margin:0; ">
            <main class="contenedor sombra">

              <div>

                <!-- 4 columns of text below the carousel -->
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img class=" rounded float-start" width="300rem" height="250rem" src="https://img.freepik.com/foto-gratis/villa-modelo-casa-clave-dibujo-escritorio-retro-concepto-venta-bienes-raices_1387-310.jpg?t=st=1657476211~exp=1657476811~hmac=777aef9b1cba20b2a3af7c87edac0fc5f1d8ff65a3ef3f5c8ddaff709bbe415e&w=1060" style="max-width: 100%;">
                  </div><!-- /.col-lg-4 -->

                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-2 ">
                    <h2>Inmob<strong>ITT</strong></h2>
                    <p>Av. Tecnológico 2595, Lagos del Country, 63175 Tepic, Nay. <br><br>

                      Teléfono: 311 214 1802 <br>
                      Email: servicioalcliente@inmobITTmexico.mx <br>
                      Sitio web: www.inmobITTmexico.com <br><br>

                      Horario de Atención: Lunes a Viernes: 8:00 a 20:00 hrs., Sábados: 9:00 a 14:00 hrs</p>
                  </div><!-- /.col-lg-4 -->

                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img class="rounded " width="330rem" height="250rem" src="https://img.freepik.com/foto-gratis/arquitectura-moderna-apartamentos_1268-14696.jpg?t=st=1657476718~exp=1657477318~hmac=71c6789fc55af2521866f8b971659339e789ad2d8ea5bb13f29c82e0aee0c3a0&w=1060" style="max-width: 100%;">
                  </div><!-- /.col-lg-4 -->
                </div>
                <HR color="white" style="margin-right: 7rem;">

                <div class="row">
                  <div class="col-lg-5 col-md-5 col-lg-5 col-xl-5 mx-auto mt-3">
                    <p style="font-size: 1rem; margin-left:2rem;">
                      <strong>Afiliado: </strong> Christian Alexis Perez Hernadez <br>
                      <strong>Director: </strong> Juan Jesus Mata Solis <br>
                      <strong>Referidos: </strong> Juan Diego Gómez Monteón<br>
                    </p>
                  </div><!-- /.col-lg-4 -->

                  <div class="col-lg-5 col-md-5 col-lg-5 col-xl-5 mx-auto mt-3">
                    <p><strong>Nuestros Servicios: </strong> Corretaje y desarrollador inmobiliario <br> <br>

                      <strong>Mercado: </strong>Residencia, Comercial, Industrial
                    </p>
                  </div><!-- /.col-lg-4 -->


                </div>

                <HR color="white" style="margin-right: 7rem;">

                <h3 style="margin-left: 30%; margin-top: 2rem;"> LOS VALORES DE INMOBITT</h3> <br>
                <h5 style="margin-left: 5%; margin-right:10%">Misión </h5>
                <p style="margin-left: 5%; margin-right:13%">
                  Ser una organización líder y profesional de bienes raíces en México.

                  Nuestra misión en México, proporcionar y brindar un servicio integral de asesoría profesional inmobiliaria a todos nuestros clientes, orientada a cuidar el patrimonio de manera confiable, ética, honesta y profesionalmente, así como desarrollar proyectos de infraestructura y construcción buscando satisfacer las necesidades de nuestros clientes..
                </p>
                <h5 style="margin-left: 5%; margin-right:10%">Visión </h5>
                <p style="margin-left: 5%; margin-right:13%">
                  Ser una empresa líder en el sector inmobiliario, ofreciendo siempre un servicio profesional y personalizado, orientado a cuidar el patrimonio de nuestros clientes con el objetivo de impulsar nuestro crecimiento a nivel regional, nacional e internacional.
                  <br>
                  Nuestro éxito futuro depende directamente de la dedicación para ayudar a nuestros trabajadores a establecer prioridades de crecimiento en su capacidad individual y como oficina para mejorar su imagen, tamaño y volumen, que nos llevara a una mayor productividad y satisfacción de un trabajo bien hecho.
                </p>

                <h5 style="margin-left: 5%; margin-right:10%">Valores </h5>
                <p style="margin-left: 5%; margin-right:13%">
                <ul style="margin-left: 5%;">
                  <li> Compromiso. </li>
                  <li> Integridad.</li>
                  <li> Profesionalismo.</li>
                  <li> Confianza.</li>
                </ul>

                </p>
                <HR color="white" style="margin-right: 7rem;">
                <div style="margin-left: 15%;  background-color: aliceblue; margin-right: 30%; margin-top: 3rem; padding-top: 0.7rem; padding-bottom: 0.4rem; border-radius: 1rem; ">
                  <H4 style="margin-bottom: 1.5rem; margin-left: 3rem; ">¿Tienes alguna pregunta para InmobITT? Contáctanos</H4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% admins.forEach(admin =>{ %>
                      <tr>
                        <th scope="row"><%= admin.nombre %></th>
                        <td><%= admin.correo %></td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div> <!--   BARRA LATERAL IZQUIERDA   -->
  <div class="modal fade modal-fullscreen-xl-down" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inmueble 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <figure class="figure">
            <img src="https://www.deplace.es/wp-content/uploads/2019/01/que-es-bien-inmueble-1200x675.jpg" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">Bonita casa en los suburbios de Rockford Hills.</figcaption>
          </figure>
        </div>
        <div class="modal-footer  justify-content-between">
          <a>Precio: 5000$</a>
          <a href="inmueble-detalles.html" class="btn btn-success float-end">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Footer -->
<%- include('./partials/footer') %>

</html>